body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('background.jpg') no-repeat center center/cover;
}

.marquee {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.995);
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.upload-box {
    width: 500px;
    height: 250px;
    border: 2px dashed rgba(255, 255, 255, 0.885);
    background: rgba(0, 0, 0, 0.383);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-btn {
    background: #8c8f8f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.predict-btn {
    background: rgb(36, 166, 210);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

#result {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}